##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

#### Python ####
build*
__pycache__
.venv*
*.pyc
build

#### Project ####
.env
.env.local
.env.*.local